-- AlterTable
ALTER TABLE "schools" DROP COLUMN "duty",
ADD COLUMN     "duty_levels" INTEGER[],
DROP COLUMN "school_type",
ADD COLUMN     "school_type" INTEGER[],
DROP COLUMN "active_by",
ADD COLUMN     "active_by" INTEGER NOT NULL;

-- CreateIndex
CREATE UNIQUE INDEX "users_user_serial_key" ON "users"("user_serial");

