-- CreateEnum
CREATE TYPE "Role" AS ENUM ('USER', 'SUPERIOR', 'DIRECTOR', 'SUPER_USER');

-- CreateEnum
CREATE TYPE "DutyType" AS ENUM ('USER', 'SUPERIOR', 'DIRECTOR');

-- CreateTable
CREATE TABLE "user_duties" (
    "id" SERIAL NOT NULL,
    "user_id" TEXT NOT NULL,
    "level" INTEGER NOT NULL,
    "region_id" INTEGER NOT NULL,
    "type" "DutyType" NOT NULL DEFAULT 'USER',

    CONSTRAINT "user_duties_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "users" (
    "user_id" TEXT NOT NULL,
    "user_name" TEXT NOT NULL,
    "user_phone" TEXT NOT NULL,
    "user_email" TEXT NOT NULL,
    "passwordHash" TEXT NOT NULL,
    "userAuthToken" TEXT NOT NULL,
    "createdAt" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMPTZ(3) NOT NULL,
    "active" BOOLEAN NOT NULL,
    "active_by" TEXT NOT NULL,
    "resetToken" TEXT,
    "resetTokenExpiry" TIMESTAMP(3),
    "role" "Role" NOT NULL DEFAULT 'USER',
    "user_serial" SERIAL NOT NULL,

    CONSTRAINT "users_pkey" PRIMARY KEY ("user_id")
);

-- CreateTable
CREATE TABLE "schools" (
    "school_id" SERIAL NOT NULL,
    "om_id" TEXT,
    "school_name" TEXT NOT NULL,
    "zip_code" TEXT NOT NULL,
    "address" TEXT NOT NULL,
    "dir_name" TEXT,
    "dir_phone" TEXT,
    "school_email" TEXT NOT NULL,
    "website" TEXT,
    "school_type" TEXT[],
    "coop" BOOLEAN,
    "note" TEXT,
    "city_id" INTEGER NOT NULL,
    "country_id" INTEGER NOT NULL,
    "county_id" INTEGER NOT NULL,
    "region_id" INTEGER NOT NULL,
    "duty" TEXT[],
    "active" BOOLEAN NOT NULL,
    "active_by" TEXT NOT NULL,
    "basic" BOOLEAN NOT NULL,
    "medior" BOOLEAN NOT NULL,
    "high" BOOLEAN NOT NULL,

    CONSTRAINT "schools_pkey" PRIMARY KEY ("school_id")
);

-- CreateTable
CREATE TABLE "contact" (
    "contact_id" SERIAL NOT NULL,
    "contact_email" TEXT NOT NULL,
    "contact_name" TEXT,
    "contact_phone" TEXT,
    "contact_note" TEXT,
    "createdAt" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "active" BOOLEAN NOT NULL,
    "active_by" TEXT NOT NULL,
    "school_id" INTEGER,

    CONSTRAINT "contact_pkey" PRIMARY KEY ("contact_id")
);

-- CreateTable
CREATE TABLE "events" (
    "event_id" SERIAL NOT NULL,
    "event_name" TEXT NOT NULL,
    "create_date" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "closing_date" TIMESTAMPTZ(3) NOT NULL,
    "event_year" INTEGER NOT NULL,
    "semester" TEXT NOT NULL,
    "on_duty" TEXT NOT NULL,
    "event_type" TEXT NOT NULL,
    "estimated_student" INTEGER NOT NULL,
    "note" TEXT,
    "slug" TEXT NOT NULL,
    "school_id" INTEGER NOT NULL,

    CONSTRAINT "events_pkey" PRIMARY KEY ("event_id")
);

-- CreateTable
CREATE TABLE "interested" (
    "intrest_id" SERIAL NOT NULL,
    "event_id" INTEGER NOT NULL,
    "intrest_count" INTEGER NOT NULL,
    "grade" TEXT NOT NULL,
    "applied" BOOLEAN NOT NULL,
    "subject" TEXT NOT NULL,
    "channel" TEXT NOT NULL,
    "status" TEXT NOT NULL,
    "country_id" INTEGER NOT NULL,
    "region_id" INTEGER NOT NULL,

    CONSTRAINT "interested_pkey" PRIMARY KEY ("intrest_id")
);

-- CreateTable
CREATE TABLE "activity" (
    "act_id" SERIAL NOT NULL,
    "start_date" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "end_date" TIMESTAMPTZ(3) NOT NULL,
    "act_name" TEXT NOT NULL,
    "act_note" TEXT,
    "on_duty" INTEGER NOT NULL,
    "duty_num" INTEGER NOT NULL,
    "region_num" INTEGER NOT NULL,
    "user_id" TEXT NOT NULL,

    CONSTRAINT "activity_pkey" PRIMARY KEY ("act_id")
);

-- CreateTable
CREATE TABLE "c_message" (
    "cm_id" SERIAL NOT NULL,
    "start_date" TIMESTAMPTZ(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "end_date" TIMESTAMPTZ(3) NOT NULL,
    "cm_name" TEXT NOT NULL,
    "cm_note" TEXT,
    "on_duty" INTEGER[],
    "user_id" TEXT NOT NULL,

    CONSTRAINT "c_message_pkey" PRIMARY KEY ("cm_id")
);

-- CreateTable
CREATE TABLE "country" (
    "country_id" SERIAL NOT NULL,
    "country_name" TEXT NOT NULL,
    "country_code" TEXT NOT NULL,

    CONSTRAINT "country_pkey" PRIMARY KEY ("country_id")
);

-- CreateTable
CREATE TABLE "region" (
    "region_id" SERIAL NOT NULL,
    "region_name" TEXT NOT NULL,
    "country_id" INTEGER NOT NULL,

    CONSTRAINT "region_pkey" PRIMARY KEY ("region_id")
);

-- CreateTable
CREATE TABLE "county" (
    "county_id" SERIAL NOT NULL,
    "county_name" TEXT NOT NULL,
    "region_id" INTEGER NOT NULL,

    CONSTRAINT "county_pkey" PRIMARY KEY ("county_id")
);

-- CreateTable
CREATE TABLE "city" (
    "city_id" SERIAL NOT NULL,
    "city_name" TEXT NOT NULL,
    "county_id" INTEGER NOT NULL,

    CONSTRAINT "city_pkey" PRIMARY KEY ("city_id")
);

-- CreateTable
CREATE TABLE "_SchoolToUser" (
    "A" INTEGER NOT NULL,
    "B" TEXT NOT NULL,

    CONSTRAINT "_SchoolToUser_AB_pkey" PRIMARY KEY ("A","B")
);

-- CreateTable
CREATE TABLE "_ContactToUser" (
    "A" INTEGER NOT NULL,
    "B" TEXT NOT NULL,

    CONSTRAINT "_ContactToUser_AB_pkey" PRIMARY KEY ("A","B")
);

-- CreateTable
CREATE TABLE "_EventToUser" (
    "A" INTEGER NOT NULL,
    "B" TEXT NOT NULL,

    CONSTRAINT "_EventToUser_AB_pkey" PRIMARY KEY ("A","B")
);

-- CreateIndex
CREATE UNIQUE INDEX "user_duties_user_id_level_region_id_type_key" ON "user_duties"("user_id", "level", "region_id", "type");

-- CreateIndex
CREATE UNIQUE INDEX "users_user_email_key" ON "users"("user_email");

-- CreateIndex
CREATE UNIQUE INDEX "users_userAuthToken_key" ON "users"("userAuthToken");

-- CreateIndex
CREATE UNIQUE INDEX "users_user_serial_key" ON "users"("user_serial");

-- CreateIndex
CREATE UNIQUE INDEX "schools_school_email_key" ON "schools"("school_email");

-- CreateIndex
CREATE UNIQUE INDEX "contact_contact_email_key" ON "contact"("contact_email");

-- CreateIndex
CREATE UNIQUE INDEX "events_slug_key" ON "events"("slug");

-- CreateIndex
CREATE UNIQUE INDEX "country_country_name_key" ON "country"("country_name");

-- CreateIndex
CREATE UNIQUE INDEX "country_country_code_key" ON "country"("country_code");

-- CreateIndex
CREATE UNIQUE INDEX "region_region_name_key" ON "region"("region_name");

-- CreateIndex
CREATE UNIQUE INDEX "county_county_name_key" ON "county"("county_name");

-- CreateIndex
CREATE UNIQUE INDEX "city_city_name_key" ON "city"("city_name");

-- CreateIndex
CREATE INDEX "_SchoolToUser_B_index" ON "_SchoolToUser"("B");

-- CreateIndex
CREATE INDEX "_ContactToUser_B_index" ON "_ContactToUser"("B");

-- CreateIndex
CREATE INDEX "_EventToUser_B_index" ON "_EventToUser"("B");

-- AddForeignKey
ALTER TABLE "user_duties" ADD CONSTRAINT "user_duties_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("user_id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "schools" ADD CONSTRAINT "schools_city_id_fkey" FOREIGN KEY ("city_id") REFERENCES "city"("city_id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "schools" ADD CONSTRAINT "schools_country_id_fkey" FOREIGN KEY ("country_id") REFERENCES "country"("country_id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "schools" ADD CONSTRAINT "schools_county_id_fkey" FOREIGN KEY ("county_id") REFERENCES "county"("county_id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "schools" ADD CONSTRAINT "schools_region_id_fkey" FOREIGN KEY ("region_id") REFERENCES "region"("region_id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "contact" ADD CONSTRAINT "contact_school_id_fkey" FOREIGN KEY ("school_id") REFERENCES "schools"("school_id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "events" ADD CONSTRAINT "events_school_id_fkey" FOREIGN KEY ("school_id") REFERENCES "schools"("school_id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "interested" ADD CONSTRAINT "interested_country_id_fkey" FOREIGN KEY ("country_id") REFERENCES "country"("country_id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "interested" ADD CONSTRAINT "interested_event_id_fkey" FOREIGN KEY ("event_id") REFERENCES "events"("event_id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "interested" ADD CONSTRAINT "interested_region_id_fkey" FOREIGN KEY ("region_id") REFERENCES "region"("region_id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "activity" ADD CONSTRAINT "activity_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("user_id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "c_message" ADD CONSTRAINT "c_message_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("user_id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "region" ADD CONSTRAINT "region_country_id_fkey" FOREIGN KEY ("country_id") REFERENCES "country"("country_id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "county" ADD CONSTRAINT "county_region_id_fkey" FOREIGN KEY ("region_id") REFERENCES "region"("region_id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "city" ADD CONSTRAINT "city_county_id_fkey" FOREIGN KEY ("county_id") REFERENCES "county"("county_id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "_SchoolToUser" ADD CONSTRAINT "_SchoolToUser_A_fkey" FOREIGN KEY ("A") REFERENCES "schools"("school_id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "_SchoolToUser" ADD CONSTRAINT "_SchoolToUser_B_fkey" FOREIGN KEY ("B") REFERENCES "users"("user_id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "_ContactToUser" ADD CONSTRAINT "_ContactToUser_A_fkey" FOREIGN KEY ("A") REFERENCES "contact"("contact_id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "_ContactToUser" ADD CONSTRAINT "_ContactToUser_B_fkey" FOREIGN KEY ("B") REFERENCES "users"("user_id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "_EventToUser" ADD CONSTRAINT "_EventToUser_A_fkey" FOREIGN KEY ("A") REFERENCES "events"("event_id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "_EventToUser" ADD CONSTRAINT "_EventToUser_B_fkey" FOREIGN KEY ("B") REFERENCES "users"("user_id") ON DELETE CASCADE ON UPDATE CASCADE;
