@import '@fontsource/poppins'

body {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased; /* Safari/Chrome finomítás */
  -moz-osx-font-smoothing: grayscale; /* Firefox/Mac finomítás */
  text-rendering: optimizeLegibility;
}
