@import '@fontsource/poppins';

:root {
	--primary-green: #32bea6;
	--hover-green: #11a58c;
	--secondary-gray-cool: #83918f; /* Hideg, kékes szürke */
	--secondary-gray-warm: #908484;
}

:global(html) {
  scroll-behavior: smooth !important;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
[role='heading'] {
	font-family: 'Poppins', sans-serif !important;
}

body {
	font-family: 'Poppins', sans-serif;
	-webkit-font-smoothing: antialiased; /* Safari/Chrome finomítás */
	-moz-osx-font-smoothing: grayscale; /* Firefox/Mac finomítás */
	text-rendering: optimizeLegibility;
}

input:not([type='checkbox']),
select {
	/* Itt jön a mágia: kényszerítsük őket egyforma magasságra */
	height: 2.5rem !important;
	padding: 0 1rem !important; /* A függőleges paddingot nullázzuk a fix magasság miatt */

	border-radius: 100px;
	font-size: 0.8rem;
	margin: 10px 0;
	border: 1px solid #ccc;

	/* Megszünteti a Pico alapértelmezett extra magasságát */
	line-height: normal !important;
	appearance: none; /* Néha segít a selectnél, de a Pico-nál óvatosan */
}

input[type='search'] {
	height: 2.5rem !important; /* Legyen ugyanakkora, mint a többi meződ */
	padding: 0 1rem 0 2.5rem !important; /* Bal oldalon hagyunk helyet az ikonnak */
	border-radius: 100px !important;
	line-height: normal !important;
	background-position: left 0.75rem center !important; /* Az ikon helye balra zárva */
	background-repeat: no-repeat !important;
}

select {
	padding-right: 2rem !important; /* Hely a nyílnak a jobb szélen */
	background-position: center right 0.75rem;
}

label {
	padding-left: 1%;
	margin-bottom: 0rem;
	font-size: 0.8rem;
	font-weight: 600;
	color: var(--secondary-gray-cool);
}

article {
	margin-bottom: 0.2rem;
	font-size: 0.8rem;
}

.art {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.art-btn {
	padding: 0rem;
	margin-bottom: 0;
	border: none;
}

.art-div {
	padding: 0.5rem;
}

.main {
	padding: 2% 2% 0 2%;
	width: 100%;
}

.main-chart {
	padding-left: 0.5%;
	padding-top: 2%;
	padding-right: 0.5%;
	width: 100%;
}

.search-input {
	flex-direction: column; /* Egymás alá rakja az elemeket */
	align-items: flex-start; /* Balra igazítja őket */
	position: relative;
	width: 100%;
}

/* --- Chartnál a virág motívum --- */
.flower {
	display: block;
	text-align: center;
	font-size: 1rem;
	color: var(--secondary-gray-cool);
	text-decoration: none; /* Remove underline */
}

.flower:hover {
	color: var(--primary-green);
}

/* --- JELSZÓ INPUTON BELÜLI GOMB --- */
.password-wrapper {
	position: relative; /* Ez teszi lehetővé, hogy a gomb "ráragadjon" az inputra */
	width: 100%;
	display: flex;
	align-items: center;
}

.password-wrapper input {
	width: 100%;
	padding-right: 60px; /* Hely a gombnak az inputon belül */
}

.eye-toggle {
	position: absolute;
	right: 15px;
	background: transparent !important; /* Semmi kék háttér */
	border: none !important; /* Semmi keret */
	color: var(--secondary-gray-cool);
	cursor: pointer;
	font-size: 14px;
	font-weight: bold;
	padding: 0;
	z-index: 10;
	box-shadow: none !important;
	top: 50%;
	transform: translateY(-50%);
}

.eye-toggle:hover {
	background: transparent !important;
	color: var(--secondary-gray-cool);
}
/* --- EDDIG --- */

.sticky {
	display: flex; /* Bekapcsolja a flexboxot */
	align-items: center; /* Függőlegesen középre igazít */
	justify-content: flex-start;
	background-color: rgb(246, 242, 242);
	position: sticky;
	top: 0;
	z-index: 1;
	height: 40px;
	width: 100%;
	padding: 5px;
	color: #32bea6;
	border-radius: 100px;
	font-size: clamp(0.7rem, 0.8rem, 1.2rem);
	white-space: nowrap; /* Ne törje több sorba */
	overflow: hidden; /* Ami nem fér be, tűnjön el */
	text-overflow: ellipsis;
}

.width-400 {
	width: 100%;
	max-width: 400px;
}

/* --- SCHOOL TYPE REGISTER --- */
.school-types-grid {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	margin-bottom: 0.5rem;
}
.checkbox-container {
	display: flex;
	gap: 0.5rem;
	font-size: 0.8rem;
	font-weight: normal;
	color: rgb(87, 80, 80);
	cursor: pointer;
	margin-left: 0.5rem;
}
/* --- SCHOOL TYPE REGISTER --- */

/* --- BUTTON --- */
.btn {
	border-radius: 100px;
	background-color: var(--primary-green);
	color: white;
	border: none;
	padding: 0.2rem 0.4rem;
	cursor: pointer;
	transition: background-color 0.2s ease;
	outline: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn-cancel {
	background-color: white;
	color: var(--secondary-gray-cool);
	border: 1px solid var(--primary-green);
	border-color: var(--primary-green);
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn-rounded:hover {
	background-color: var(--hover-green);
}

.btn-outline {
	border-radius: 100px;
	transition: background-color 0.2s;
	border-color: #32bea6;
}

.btn-outline:hover {
	border-color: #6c7776;
}

.btn-forgot {
	width: 100%; /* Alapból töltse ki a rendelkezésre álló helyet (mobilon szuper) */
	max-width: 400px;
	border-radius: 100px;
	background-color: white;
	color: var(--secondary-gray-cool);
	border-color: var(--primary-green);
	display: flex;
	align-items: center;
	justify-content: center;
}

.x-icon {
	font-size: 1rem;
	color: red;
	font-weight: bolder;
	padding-right: 0.5rem;
}

.active-color {
	background-color: #32bea6;
	color: white;
}
/* --- BUTTON EDDIG --- */

/* --- MODAL --- */
dialog[open] {
	position: fixed;
	z-index: 10000;
}
/* --- MODAL EDDIG --- */

/* --- LISTS --- */
.aa {
	color: #09c6a7;
	line-height: normal;
	font-weight: 400;
	font-size: medium;
}

.ab {
	line-height: normal;
	font-weight: 400;
	font-size: medium;
}

.ac {
	color: #1f2222;
	font-weight: 400;
	line-height: normal;
	padding-top: 1%;
	padding-left: 5%;
	text-indent: -6%;
	font-size: medium;
}

.li {
	list-style-position: inside;
	list-style-type: disc;
	color: var(--secondary-gray-cool);
	padding-left: 5%;
	text-indent: -6%;
	line-height: normal;
}

.lb {
	list-style-position: inside;
	list-style-type: circle;
	padding-left: 5%;
	text-indent: -6%;
	line-height: normal;
}

.le {
	list-style-type: none;
	color: rgb(144, 132, 132);
	padding-left: 5%;
	text-indent: -6%;
	line-height: normal;
	margin: 0;
}

.pad-bot-plus {
	padding-bottom: 0.5rem;
}

/* --- FONTS --- */
.name-style {
	color: #32bea6;
	font-weight: bolder;
}

textarea#message {
	font-size: 0.8rem;
	line-height: normal;
	padding: 0.5rem;
}

hgroup i {
	font-size: 0.8rem !important;
	display: block !important; /* Hogy mindegyik külön sorba kerüljön és egyforma legyen a viselkedése */
	line-height: 1.2rem !important; /* Fix sor magasság, hogy ne ugráljanak */
	margin: 0 !important;
	padding: 0 !important;
	font-weight: normal !important;
	color: var(--secondary-gray-cool);
}

i {
	font-weight: 300;
}

.iii {
	font-size: 0.7rem;
}

.log {
	font-weight: 400;
}

p {
	font-size: 1rem;
	line-height: normal;
	margin-bottom: 0.5rem;
	color: var(--secondary-gray-cool);
}

.rei p {
	position: relative;
	line-height: 1.5rem;
	font-size: 1rem;
	font-weight: bold;
}

.grid {
	position: relative;
	padding: 1rem 0.5rem 0rem 0.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1rem;
	align-content: space-around;
	width: 100%;
	max-width: 600px;
	margin: 1rem auto;
	line-height: 1.35;
	grid-row: minmax(5px, auto);
	border: 2px solid #32bea6;
	border-radius: 5px;
	box-sizing: border-box;
}

.grid input:checked {
	background-color: #32bea6;
}

fieldset {
	position: relative;
	padding: 6px;
	border: 2px solid #32bea6;
	border-radius: 5px;
	border-spacing: 2px;
}

legend {
	padding: 6px;
	color: #32bea6 !important;
	font-size: 0.8rem;
}

.admin-actions {
	display: flex;
	flex-direction: column;
	margin-top: 1rem;
}

.input-group {
	display: flex;
	flex-direction: row; /* Alapértelmezetten egymás mellett */
	align-items: center;
	height: 2.5rem !important;
	padding: 0 1rem !important;
	gap: 10px;
	margin-bottom: 5px;
}

.check-label {
	display: flex;
	align-items: center;
	gap: 12px;
	min-width: 160px;
	cursor: pointer;
}

/* A select konténere, ami kitölti a maradék helyet */
.select-wrapper {
	flex-grow: 1;
	display: flex;
	align-items: center;
}

.row1,
.row2 {
	display: flex;
	padding-bottom: 0.5rem;
}

.row1 {
	gap: 2.5rem;
}
.row2 {
	gap: 1.5rem;
}

.black {
	color: rgb(112, 108, 108);
}

.success-box {
	margin-top: 1rem;
	margin-bottom: 1rem;
	padding: 15px;
	background-color: #e6fffa;
	border: 1px solid #38b2ac;
	border-radius: 8px;
	text-align: center;
	color: #2c7a7b;
}
.pass-display {
	font-family: monospace;
	font-size: 1.2rem;
	background: white;
	padding: 2px 8px;
	border: 1px dashed #38b2ac;
	font-weight: bold;
}

.error {
	color: tomato;
	text-align: center;
	font-style: italic;
	font-weight: 400;
}

/*body {
	background-color: red !important;
} */
